<ion-view view-title="Change Password" hide-back-button="true" text-center cache-view="false">
  <!-- Back button -->
  <ion-nav-buttons side="left">
    <button class="button button-clear icon-button mdi mdi-arrow-left" ng-click="back()"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-clear icon-button icon ion-checkmark" onclick="document.getElementById('changepassword').click()" style="min-height:0"></button>
  </ion-nav-buttons>
  <ion-content overflow-scroll=true scroll-sista="tabs" style="background-color:#fff;">
    <!-- Form post -->
    <form method="post" enctype="text/plain">    
      
      <!-- Input Text -->
      <div class="list padding">
        <label class="item item-input item-floating-label" style="padding:0">
        <span class="input-label">{{profile.email}}</span>
        <input id="title" type="text" placeholder="Email" ng-model="formCP.email">
        </label>

        <label class="item item-input item-floating-label" style="padding:0">
        <span class="input-label">Old Password</span>
        <input id="title" type="password" placeholder="Old Password" ng-model="formCP.oldPassword">
        </label> 

        <label class="item item-input item-floating-label" style="padding:0">
        <span class="input-label">New Password</span>
        <input id="title" type="password" placeholder="New Password" ng-model="formCP.newPassword">
        </label>
        
      </div> 
     
      <input type="submit" value="Change password" class="button button-block button-calm-900 text-center" ng-click="changePassword()" style="background-color:#24afe5; display:none" id="changepassword"></input>
    </form>
  </ion-content>
</ion-view>