<ion-view view-title="Create Post" hide-back-button="true" text-center cache-view="false">
  <ion-nav-buttons side="left">
    <button class="button button-clear icon-button mdi mdi-arrow-left" ng-click="back()"></button>
  </ion-nav-buttons>
  <!--<ion-nav-buttons side="right">
    <button class="button button-clear icon-button ion-android-attach"></button>
    <button class="button button-clear icon-button ion-android-send"></button>
  </ion-nav-buttons>-->
  
  <ion-content overflow-scroll=true scroll-sista="tabs" style="background-color:#ececec;">
    <!--<ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()" refreshing-text="Fetching ..." refreshing-icon="ion-loading-b"></ion-refresher>-->

    <!-- list post -->
    <form method="post" enctype="text/plain">    

      <!-- button -->
      <div class="button-bar">
        <button id="share" ng-click="Share = !Share; Privacy = false; Tag = false;" class="button icon ion-android-people" style="padding-top:10px; border-radius:0px; background:#24afe5; color:white;">
        </button>

        <button ng-click="Privacy = !Privacy; Share = false; Tag = false;" class="button icon ion-android-lock" style="padding-top:10px; background:#24afe5; color:white;">
        </button>

        <button ng-click="Tag = !Tag; Privacy = false; Share = false;" class="button icon ion-pricetag" style="padding-top:10px; border-radius:0px; background:#24afe5; color:white;">
        </button>
      </div>

      <ul ng-show="Share" class="list" style="background:#fafafa;">
        <ion-list>
          <ion-checkbox ng-model="division.receiver1"  ng-true-value="''" ng-false-value="''" >All</ion-checkbox>
          <ion-checkbox ng-model="division.receiver2"  ng-true-value="'General Business Solution'" ng-false-value="''" ng-checked="division.receiver1">General Business Solution</ion-checkbox>
          <ion-checkbox ng-model="division.receiver3"  ng-true-value="'Jasa Teknologi Informasi'" ng-false-value="''" ng-checked="division.receiver1">Jasa Teknologi Informasi</ion-checkbox>
          <ion-checkbox ng-model="division.receiver4"  ng-true-value="'Division Name 3'" ng-false-value="''" ng-checked="division.receiver1">Division Name 3</ion-checkbox>
          <ion-checkbox ng-model="division.receiver5"  ng-true-value="'Division Name 4'" ng-false-value="''" ng-checked="division.receiver1">Division Name 4</ion-checkbox>
        </ion-list>
      </ul>

      <ul ng-show="Privacy" class="list" style="background:#fafafa;">
        <ion-list>
          <ion-radio ng-model="filter.public">Public</ion-radio>
          <ion-radio ng-model="filter.internal">Internal Only</ion-radio>
        </ion-list>
      </ul>

      <ul ng-show="Tag" class="list" style="background:#fafafa;">
        <ion-list>
          <ion-checkbox ng-model="filter.important">Important</ion-checkbox>
          <ion-checkbox ng-model="filter.technology">Technology</ion-checkbox>
          <ion-checkbox ng-model="filter.business">Business</ion-checkbox>
          <ion-checkbox ng-model="filter.healthy">Healthy</ion-checkbox>
          <ion-checkbox ng-model="filter.category">Category Name 4</ion-checkbox>
        </ion-list>
      </ul>

      <div class="list padding">
        <label class="item item-input item-floating-label" style="padding:0">
          <span class="input-label">Title</span>
          <input id="title" type="text" placeholder="Title" ng-model="data.title">
        </label>
        <label class="item item-input item-floating-label" style="padding:0">
          <span class="input-label">Content Information</span>
          <textarea id="content" style="height:200px;background:transparent" placeholder="Content Information" ng-model="data.content"></textarea>
        </label>
      </div>  

      <div class="row">
        <div class="col">
          <input type="submit" value="Create" class="button button-block button-calm-900 text-center" ng-click="tambahPost()" style="background-color:#24afe5; border-radius:10px;"></input>
        </div>
      </div>

    </form>
  </ion-content>
</ion-view>