<ion-view view-title="Create Post" hide-back-button="true" text-center cache-view="false">
  <ion-nav-buttons side="left">
    <button class="button button-clear icon-button mdi mdi-arrow-left" ng-click="back()"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-clear icon-button icon ion-android-attach" onclick="document.getElementById('upload').click()" type="button"></button>
    <button class="button button-clear icon-button icon ion-android-send" onclick="document.getElementById('createpost').click()"></button>
  </ion-nav-buttons>
  <ion-content overflow-scroll=true scroll-sista="tabs" style="background-color:#fff;">

    <!-- list post -->
    <form method="post" enctype="text/plain">    

      <!-- button -->
      <div class="button-bar">
        <button id="share" ng-click="Share = !Share; Privacy = false; Category = false;" class="button icon ion-android-people" style="padding-top:10px; border-radius:0px; background:#24afe5; color:white;">
        </button>

        <button ng-click="Privacy = !Privacy; Share = false; Category = false;" class="button icon ion-android-lock" style="padding-top:10px; background:#24afe5; color:white;">
        </button>

        <button ng-click="Category = !Category; Privacy = false; Share = false;" class="button icon ion-pricetag" style="padding-top:10px; border-radius:0px; background:#24afe5; color:white;">
        </button>
      </div>

      <ul ng-show="Share" class="list" style="background:#fafafa;">
        <ion-list>
          <ion-checkbox ng-model="data.div_all" ng-checked="data.div_all">All</ion-checkbox>
          <ion-checkbox ng-model="data.div_gbs" ng-checked="data.div_all">General Business Solution</ion-checkbox>
          <ion-checkbox ng-model="data.div_jti" ng-checked="data.div_all">Jasa Teknologi Informasi</ion-checkbox>
        </ion-list>
      </ul>

      <ul ng-show="Privacy" class="list" style="background:#fafafa;">
        <ion-list>
          <ion-radio ng-model="data.privacy" ng-value="'public'">Public</ion-radio>
          <ion-radio ng-model="data.privacy" ng-value="'internal'">Internal Only</ion-radio>
        </ion-list>
      </ul>

      <ul ng-show="Category" class="list" style="background:#fafafa;">
        <ion-list>
          <ion-checkbox ng-model="data.category_technology">Technology</ion-checkbox>
          <ion-checkbox ng-model="data.category_business">Business</ion-checkbox>
        </ion-list>
      </ul>

      <ion-toggle ng-model="data.priority" toggle-class="toggle-calm">Important</ion-toggle>

      <div class="list padding">
        <label class="item item-input item-floating-label" style="padding:0">
          <span class="input-label">Title</span>
          <input id="title" type="text" placeholder="Title   *Set DIVISION, PRIVACY and CATEGORY" ng-model="data.title">
        </label>
        <label class="item item-input item-floating-label" style="padding:0">
          <span class="input-label">Content Information</span>
          <textarea id="content" style="height:200px;background:transparent;resize:none" placeholder="Content Information" ng-model="data.content"></textarea>
        </label>
      </div>
  
          <input type="submit" id="upload" value="Upload Photo" class="button button-block button-calm-900 text-center" ng-click="uploadImage()" style="display: none;"></input>
                        
          <input type="submit" value="Create" class="button button-block button-calm-900 text-center" ng-click="tambahPost()" id="createpost" style="display:none"></input>
       
    </form>
  </ion-content>
</ion-view