<ion-view view-title="Edit Profile" hide-back-button="true" text-center cache-view="false">
  <!-- Back Button -->
  <ion-nav-buttons side="left">
    <button class="button button-clear icon-button mdi mdi-arrow-left" ng-click="backProfile()"></button>
  </ion-nav-buttons>
  <!-- Update Button -->
  <ion-nav-buttons side="right">
    <button class="button button-clear icon-button icon ion-checkmark" onclick="document.getElementById('updateprofile').click()" style="min-height:0"></button>
  </ion-nav-buttons>
  <ion-content overflow-scroll=true scroll-sista="tabs" style="background-color:#fff;">
    <div style="background-color:#24afe5; height:150px;padding-top:15px;">
      <img ng-hide="profile.photo=='n/a'||profile.photo==undefined" src={{image}} ng-src={{profile.photo}} class="avatar" style="left:22px;top:26px;margin:0px auto;width:70px;height:70px;">
      <img ng-show="profile.photo=='n/a'||profile.photo==undefined" ng-src="img/profile.jpg" class="avatar" style="left:22px;top:26px;margin:0px auto;width:70px;height:70px;">
      <input style="margin-left:120px; margin-top:25px; width:200px; color:#24afe5; background:white; font-weight:bold;" type="submit" id="upload" value="Upload Photo" class="button button-block button-calm-900 text-center" ng-click="uploadImage()"></input>
    </div>
    <!-- Form Update -->
    <form method="post" enctype="text/plain">   
      <div class="list padding" style="padding-top:0px;">
        <label class="item item-input item-floating-label" style="padding:0px">
          <span class="input-label">Name</span>
          <input id="title" type="text" placeholder="Name" value="{{profile.name}}" ng-model="profile.name" style="color:black;">
        </label>
        <label class="item item-input item-floating-label" style="padding:0px">
          <span class="input-label">Username</span>
          <input id="title" type="text" placeholder="Username" value="{{profile.username}}" ng-model="profile.username" style="color:black;">
        </label>
        <label class="item item-input item-floating-label" style="padding:0px">
          <span class="input-label">Email</span>
          <input id="title" type="text" placeholder="Email" value="{{profile.email}}" ng-model="profile.email" style="color:black;">
        </label>
        <label class="item item-input item-floating-label" style="padding:0px">
          <span class="input-label">Location</span>
          <input id="title" type="text" placeholder="Location" value="{{profile.location}}" ng-model="profile.location" style="color:black;">
        </label>
        <label class="item item-input item-floating-label" style="padding:0px">
          <span class="input-label">Bio</span>
          <input id="title" type="text" placeholder="Bio" value="{{profile.bio}}" ng-model="profile.bio" style="color:black;">
        </label>
        <label class="item item-input item-floating-label" style="padding:0px">
          <span class="input-label">Link</span>
          <input id="title" type="text" placeholder="link" value="{{profile.link}}" ng-model="profile.link" style="color:black;">
        </label>
        <label class="item item-input item-floating-label" style="padding:0px">
          <span class="input-label">Status</span>
          <input id="title" type="text" placeholder="Status" value="{{profile.status}}" ng-model="profile.status" style="color:black;">
        </label>
        <label id="editSelect" class="item item-input item-select" style="padding-left:0px;">
          <div class="input-label" style="font-weight:unset; padding-right:0px;">Role</div>
          <select ng-model="profile.role" value="{{profile.role}}" style="background:rgba(255, 255, 255, 0);color:black;">
            <option value="gbs" class="input-login">GBS</option>
            <option value="jti" class="input-login">JTI</option>
          </select>
        </label>
      </div>
      <input type="submit" value="Save" class="button button-block button-calm-900 text-center" ng-click="editProfil()" id="updateprofile" style="margin:0px; background-color:#24afe5;display:none"></input>
    </form>
  </ion-content>
</ion-view>
