<ion-view view-title="Leaderboard" cache-view="false">
<ion-content overflow-scroll=true scroll-sista="tabs" style="background-color: white;">

<div style="background-image: url('img/background-leaderboard.png'); height:200px;padding-top:15px;">
	<div class="row" style="margin-top:8px;">
		<div class="col" style="margin-top:20px;">
			<center>
			<div style="background-image: url('img/ben.png');width:60px;height:60px;background-size:cover;border-radius:50%;"></div>
			<p style="color:white; font-size:17px; margin-top:10px;">{{pemenangKedua.username}}</p>
			<p style="color:white; font-size:12px; margin-top:-8px;">{{pemenangKedua.poin}} points</p>
			</center>
		</div>
		<div class="col" style="margin-bottom:10px;">
			<center>
			<div style="background-image: url('img/adam.jpg');width:80px;height:80px;background-size:cover;border-radius:50%;"></div>
			<p style="color:white; font-size:17px; margin-top:10px;">{{pemenangPertama.username}}</p>
			<p style="color:white; font-size:12px; margin-top:-8px;">{{pemenangPertama.poin}} points</p>
			</center>
		</div>
		<div class="col" style="margin-top:20px;">
			<center>
			<div style="background-image: url('img/ben.png');width:60px;height:60px;background-size:cover;border-radius:50%;"></div>
			<p style="color:white; font-size:17px; margin-top:10px;">{{pemenangKetiga.username}}</p>
			<p style="color:white; font-size:12px; margin-top:-8px;">{{pemenangKetiga.poin}} points</p>
			</center>
		</div>
	</div>
	<style>
		.blue{background-color:#24afe5;}
		.blue h2, .blue p{color:white;}

		.blue-fixed{background-color:#24afe5;position: fixed; bottom:0;z-index: 999999;width: 100%;padding:2px 0px 15px 0px;margin:0}
		.blue-fixed h2, .blue p{color:white;}
	</style>
	<div ng-repeat="data in leaderboard | limitTo: 8 : 3" class="list" ng-class="{'blue':menuProfile.username == data.username}" style="padding:2px 0px 15px 0px;margin:0">
	   	<h4 style="margin-bottom:-20px; font-size:17px; margin-top:30px; font-weight:unset; padding-bottom:30px; margin-bottom:-78px;padding-left:20px;">{{$index+4}}</h4>
		<a class="item item-avatar" style="padding-bottom:0px; margin-bottom:-29px; margin-top:-45px; margin-left:20px;">
		  <img ng-src="img\adam.jpg" style="margin-left:20px;">
		  <h2 style="margin-bottom:6px;">{{data.username}}</h2>
		  <div class="item item-text-wrap" style="padding:0px;">
		  <p style="padding-right:16px;">{{data.poin}} points</p>
		  </div>  
		</a>
	</div> 

 

</ion-content>
	<div ng-show="myLeaderboardend == true" class="list blue-fixed">
	   	<divclass="list blue-fixed">
		   	<h4 style="margin-bottom:-20px; font-size:17px; margin-top:30px; font-weight:unset; padding-bottom:30px; margin-bottom:-78px;padding-left:20px;">{{myLeaderboard.position}}</h4>
			<a class="item item-avatar" style="padding-bottom:0px; margin-bottom:-29px; margin-top:-45px; margin-left:20px;">
			  <img ng-src="img\adam.jpg" style="margin-left:20px;">
			  <h2 style="margin-bottom:6px;">{{myLeaderboard.username}}</h2>
			  <div class="item item-text-wrap" style="padding:0px;">
			  <p style="padding-right:16px;">{{myLeaderboard.poin}} points</p>
			  </div>  
			</a>
		</div> 
	</div>
</ion-view>
