<ion-view view-title="Leaderboard" cache-view="false">
<ion-content overflow-scroll=true scroll-sista="tabs" style="background-color: white;">

<div style="background-image: url('img/background-leaderboard.png'); height:200px;padding-top:15px;">
	<div class="row" style="margin-top:8px;">
		<div class="col" style="margin-top:20px;">
			<center>
			<div style="background-image: url('img/ben.png');width:60px;height:60px;background-size:cover;border-radius:50%;"></div>
			<p style="color:white; font-size:17px; margin-top:10px;">Troy Grant</p>
			<p style="color:white; font-size:12px; margin-top:-8px;">6005 points</p>
			</center>
		</div>
		<div class="col" style="margin-bottom:10px;">
			<center>
			<div style="background-image: url('img/adam.jpg');width:80px;height:80px;background-size:cover;border-radius:50%;"></div>
			<p style="color:white; font-size:17px; margin-top:10px;">Edna Blake</p>
			<p style="color:white; font-size:12px; margin-top:-8px;">6005 points</p>
			</center>
		</div>
		<div class="col" style="margin-top:20px;">
			<center>
			<div style="background-image: url('img/ben.png');width:60px;height:60px;background-size:cover;border-radius:50%;"></div>
			<p style="color:white; font-size:17px; margin-top:10px;">Isabella G.</p>
			<p style="color:white; font-size:12px; margin-top:-8px;">6005 points</p>
			</center>
		</div>
	</div>
		 <div class="list" style="Background:white;">
			   <h4 style="margin-bottom:-20px; font-size:17px; margin-top:30px; font-weight:unset; padding-bottom:30px; margin-bottom:-78px;padding-left:20px;">1</h4>
		    <a class="item item-avatar" style="padding-bottom:0px; margin-bottom:-29px; margin-top:-45px; margin-left:20px;">
		      <img ng-src="img\adam.jpg" style="margin-left:20px;">
		      <h2 style="margin-bottom:6px;">Inez Parsons</h2>
		      <div class="item item-text-wrap" style="padding:0px;">
		      <p style="padding-right:16px;">Level 12 . 1155 points . 9 badges</p>
		      </div>  
		    </a>

		      <h4 style="margin-bottom:-20px; font-size:17px; margin-top:20px; font-weight:unset; padding-top:30px; padding-bottom:30px; margin-bottom:-78px;padding-left:20px;">2</h4>
		    <a class="item item-avatar" style="padding-bottom:0px; margin-bottom:-29px; margin-top:-45px; margin-left:20px;">
		      <img ng-src="img\adam.jpg" style="margin-left:20px;">
		      <h2 style="margin-bottom:6px;">Esther Hopkins</h2>
		      <div class="item item-text-wrap" style="padding:0px;">
		      <p style="padding-right:16px;">Level 11 . 1155 points . 9 badges</p>
		      </div>  
		    </a>

		     <h4 style="margin-bottom:-20px; font-size:17px; margin-top:20px; font-weight:unset; padding-top:30px; padding-bottom:30px; margin-bottom:-78px;padding-left:20px;">3</h4>
		    <a class="item item-avatar" style="padding-bottom:0px; margin-bottom:-29px; margin-top:-45px; margin-left:20px;">
		      <img ng-src="img\adam.jpg" style="margin-left:20px;">
		      <h2 style="margin-bottom:6px;">Alexander Glover</h2>
		      <div class="item item-text-wrap" style="padding:0px;">
		      <p style="padding-right:16px;">Level 9 . 1155 points . 9 badges</p>
		      </div>  
		    </a>

		     <h4 style="margin-bottom:-20px; font-size:17px; margin-top:20px; font-weight:unset; padding-top:30px; padding-bottom:30px; margin-bottom:-78px;padding-left:20px;">4</h4>
		    <a class="item item-avatar" style="padding-bottom:0px; margin-bottom:-29px; margin-top:-45px; margin-left:20px;">
		      <img ng-src="img\adam.jpg" style="margin-left:20px;">
		      <h2 style="margin-bottom:6px;">Ruth Nelson</h2>
		      <div class="item item-text-wrap" style="padding:0px;">
		      <p style="padding-right:16px;">Level 8 . 1155 points . 9 badges</p>
		      </div>  
		    </a>

		    <h4 style="margin-bottom:-20px; font-size:17px; margin-top:20px; font-weight:unset; padding-top:30px; padding-bottom:30px; margin-bottom:-78px; Background:#24afe5; padding-left:20px; color:white;">32</h4>
		    <a class="item item-avatar" style="padding-bottom:0px; margin-bottom:-29px; margin-top:-45px; margin-left:20px;">
		      <img ng-src="img\adam.jpg" style="margin-left:20px;">
		      <h2 style="margin-bottom:6px; color:white">Abhishek Shah</h2>
		      <div class="item item-text-wrap" style="padding:0px;">
		      <p style="padding-right:16px; color:white;">Level 3 . 1155 points . 9 badges</p>
		      </div>  
		    </a>

		 </div>
</ion-content>
</ion-view>
