<ion-view view-title="Messages" cache-view="false">
  <ion-nav-buttons side="left">
  <button class="button button-clear icon-button mdi mdi-arrow-left" ng-click="back()"></button>
  </ion-nav-buttons>
  <ion-content overflow-scroll=true scroll-sista="tabs" style="background-color: #fefefe;">

    <div class="list">

    <a class="item item-avatar" href="#" style="border-bottom:1px solid #cecece;">
      <img src="img\ben.png">
      <h2>Venkman</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>

     <a class="item item-avatar" href="#" style="border-bottom:1px solid #cecece;">
      <img src="img\ben.png">
      <h2>Venkman</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>

    <a class="item item-avatar" href="#" style="border-bottom:1px solid #cecece;">
    <img src="img\ben.png">
    <h2>Venkman</h2>
    <p>Back off, man. I'm a scientist.</p>
    </a>

     <a class="item item-avatar" href="#" style="border-bottom:1px solid #cecece;">
      <img src="img\ben.png">
      <h2>Venkman</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>

    <a class="item item-avatar" href="#" style="border-bottom:1px solid #cecece;">
    <img src="img\ben.png">
    <h2>Venkman</h2>
    <p>Back off, man. I'm a scientist.</p>
    </a>

     <a class="item item-avatar" href="#" style="border-bottom:1px solid #cecece;">
      <img src="img\ben.png">
      <h2>Venkman</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>
    </div>

  </ion-content>
</ion-view>


