<ion-view view-title="Message " cache-view="false">
  <ion-content overflow-scroll=true scroll-sista="tabs" style="background-color: #F1F5F8;">

    <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light" ng-app="">
      <div class="tabs" style="background:#24afe5;top:0px;">
        <a class="tab-item" ng-click="showme=false" ng-class="{'active':showme == false}">
          <i class="icon ion-chatboxes"></i>
          Chats
        </a>
        <a class="tab-item" ng-click="showme=true" ng-class="{'active':showme == true}">
          <i class="icon ion-android-contacts"></i>
          Contacts
        </a>
      </div>
    </div>

    <div class="list" ng-hide="showme">
      <a class="item item-avatar" href="#" style="border-bottom:1px solid #cecece;margin-top:50px">
        <img src="img\ben.png">
        <h2>Venkman</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>

       <a class="item item-avatar" href="#" style="border-bottom:1px solid #cecece;">
        <img src="img\ben.png">
        <h2>Venkman</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>

      <a class="item item-avatar" href="#" style="border-bottom:1px solid #cecece;">
      <img src="img\ben.png">
      <h2>Venkman</h2>
      <p>Back off, man. I'm a scientist.</p>
      </a>

       <a class="item item-avatar" href="#" style="border-bottom:1px solid #cecece;">
        <img src="img\ben.png">
        <h2>Venkman</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>

      <a class="item item-avatar" href="#" style="border-bottom:1px solid #cecece;">
      <img src="img\ben.png">
      <h2>Venkman</h2>
      <p>Back off, man. I'm a scientist.</p>
      </a>

       <a class="item item-avatar" href="#" style="border-bottom:1px solid #cecece;">
        <img src="img\ben.png">
        <h2>Venkman</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>
    </div>

    <div class="list" ng-show="showme">
      <div style="margin-top:50px"></div>
      <a ng-repeat="data in contacts" class="item item-avatar" style="border-bottom:1px solid #cecece" ng-click="userDetail('{{data.username}}')">
        <img src="img\ben.png">
        <h2>{{data.name}}</h2>
        <p>Busy</p>
      </a>  
    </div>

  </ion-content>
</ion-view>


 