<ion-view view-title="View Post" cache-view="false">
<ion-nav-buttons side="left">
  <button class="button button-clear icon-button mdi mdi-arrow-left" ng-click="back()"></button>
</ion-nav-buttons>
<ion-content overflow-scroll=true scroll-sista="tabs" style="background-color: #ececec;">
<div class="list card" class="padding" >

  <div class="item item-avatar" style="min-height: 60px;">
    <img src="img\ben.png">
    <h2>{{itemData.writer}}</h2>
    <p>{{itemData.date | date:'yyyy-MM-dd, h:mm a'}}</p>
  </div>

  <div class="item item-body" style="padding-top:0px; padding-left:0px; padding-right:0px; padding-bottom:10px; border-bottom: 1px solid; border-color: #ececec;">
    <img class="full-image" ng-src="img\healthy-food.jpg">
    <h1 style="padding-left:16px; padding-right:16px; margin-top:8px; margin-bottom: 8px; font-size:24px">
     {{itemData.title}}
    </h1>
    <p style="padding-left:16px; padding-right:16px; color:black; margin-top:0px; text-align:justify">
      {{itemData.content}}
    </p>
    <p style="padding-left:16px; padding-right:16px; color:black;">
      <a href="#" class="subdued">{{itemData.like}} Like</a>
      <a href="#" class="subdued">{{itemData.comment}} Comments</a>
      <a class="subdued" ng-controller="PostDetailCtrl" ng-click="shareNative()">Share</a>
     <!--  <i class="icon ion-heart" style="padding-top:1px; padding-left: 4px; float:right; color:gray"></i> -->
      <!-- <a href="#" class="subdued" style="float:right;">10k</a> -->
    </p>
  </div>

  <div class="list">

    <a class="item item-avatar" style="padding-bottom:0px;">
      <img ng-src="img\healthy-food.jpg">
      <h2>Neneng Yani</h2>
      <div class="item item-text-wrap" style="padding:0px;">
      <p style="padding-right:16px;">Absolutely adore everything related to slim</p>
      </div>
    </a>

    <a class="item item-avatar" style="padding-bottom:0px;">
      <img ng-src="img\healthy-food.jpg">
      <h2>Stephen Hamilton</h2>
      <div class="item item-text-wrap" style="padding:0px;">
      <p style="padding-right:16px;">Ooooh gitu toh</p>
      </div>
    </a>

 </div>
</div>

<p class="item item-icon-left item-icon-right" style="padding:0px;">
     <textarea id="comment" ng-model="data.comment" placeholder="Enter your comment here..." style="width:80%; padding-top:10px; padding-left:10px;"></textarea>
    <i ng-click="addKomentar()" class="icon ion-android-send" style="background-color:#24afe5; color:white; right:0px; padding-left:20px; padding-right:20px;"></i>
</p>

</ion-content>
</ion-view>

